.text-center {
    margin: 0;
    margin-bottom: 15px;
  }
  
  .header {
    background-color: azure;
    display: flex;
    justify-content: space-between;
  }
  
  .map-container {
    height: 100vh;
  }
  
  .homePage {
    position: relative;
  }
  
  .datePicker {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 999;
    background-color: rgb(210, 220, 211);
    display: flex;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
  }
  
  .datePicker-start {
    margin-right: 30px;
  }