<!-- nav -->

<style>
    .navbar-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
</style>
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="navbar-container">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
            <!-- <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a> -->
            <a class="nav-item nav-link" routerLink="/moorings" *ngIf="isAdmin" routerLinkActive="active" >Moorings</a>
            <a class="nav-item nav-link" routerLink="/locations" *ngIf="isAdmin" routerLinkActive="active" >Locations</a>
            <a class="nav-item nav-link" routerLink="/bookings" *ngIf="isAdmin" routerLinkActive="active" >Bookings</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active" >{{user.firstName}}'s Profile</a>
            <button class="btn btn-link nav-item nav-link" (click)="logout()" >Logout</button>
        </div>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

